  <%= form_with(model: [message.room, message], data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |form| %> <!-- Get controller use dash(-) instead of underscore (_) of controller name -->
    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit "Send" %>
    </div>
  <% end %>